
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/tests/storageState.json
test/.auth
tests/.auth/worker-1.json
tests/.auth/worker-0.json
